.footer {
    background-color: $color-grey-dark-1;
    color: $color-grey-light-1;
    padding: 10rem 0;
    @include responsive(tab-land){
        padding: 8rem;
    }
    @include responsive(smallest){
        letter-spacing: .5px;
        padding: 6rem 4rem;
    }
    .footer__logo-box{
        text-align: center; 
    }
    .footer__logo{
        width: 15rem;
        @include responsive(tab-port){
            width: 12rem;
        }
        @include responsive(phone){
            width: 10rem;
        }
    }
    &__navigation {
        border-top: 1px solid $color-grey-light-1;
        display: inline-block;
        @include responsive(phone){
            display: block;
        }
    }
    &__nav-list{
        list-style-type: none;
        @include responsive(phone){
            margin: 0 15%;
        }
        @include responsive(smallest){
            margin: 0;
        }
    }
    &__nav-item {
        display: inline-block;
        padding: 1rem;
    }
    &__link {
        &:link,
        &:visited {
            color: inherit;
            text-decoration: none;
            background-color: $color-grey-dark-1;
            padding: .5rem;
            transition: all .2s;
            display: inline-block;
        }
        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1.5rem 4rem $color-black;
            transform: rotate(5deg) scale(1.1);
        }
    }
    &__copyright {
        border-top: 1px solid $color-grey-light-1;
        padding-top: 1.5rem;
    }
}