.composition{
    position: relative;
    @include responsive(phone){
        width: 70%;
        height: 25vh;
        margin: 10rem auto 3rem;
    }
    @include responsive(phone){
        margin: 10rem auto 0;
    }
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: .1rem;
        position: absolute;
        z-index: 5;
        outline-offset: 2rem;
        transition: all .2s ease-out;
        &--p1{
            top: -2rem;
            left: 0;
            @include responsive(phone){
                top: 0;
                left: -5rem;
            }
        }
        &--p2{
            top: 2rem;
            right: 0;
            @include responsive(phone){
                top: 0;
                right: -5rem;
            }
        }
        &--p3{
            top: 10rem;
            left: 20%;
            @include responsive(phone){
                top: -2rem;
                right: -4rem;
            }
        }
        &:hover{
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 10;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }
}
